@mixin transition(
  $transition-property,
  $transition-duration: $transition-duration,
  $transition-timing-function: $ease-out-back
) {
  -webkit-transition: $transition-property $transition-duration
    $transition-timing-function;
  transition: $transition-property $transition-duration
    $transition-timing-function;
}

@mixin responsive-nav {
  width: 50%;

  @media (min-width: 768px) {
    width: 75%;
  }

  @media (min-width: 1200px) {
    width: 100%;
  }
}

@mixin nav-link-font-size($font-size) {
  font-size: $font-size;

  @media (max-width: $small-breakpoint) {
    font-size: $font-size * 1.2;
  }

  @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
    font-size: $font-size;
  }

  @media (min-width: $large-breakpoint) {
    font-size: $font-size * 0.8;
  }
}
//this creates a stylized border for components such as buttons
@mixin border {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 20px;
  transition-webkit-transition: color 200ms ease,
    background-color 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: $transition;
  line-height: 1;
  align-items: center;
  text-transform: uppercase;
}

@mixin WidthAndHeight($w, $h) {
  width: $w;
  height: $h;
}
