// todo: refactor for layout and components that I will use in the future
//todo: refactor classes to have mobile useable enviornment deal with media sizes etc.

// todo: create a register page

//todo: make the login screen a little prettier, dunno how Im too tired to deal with this, your job future sandoval
@import "./variables";
@import "./resets";
@import "./components";
// @import "./components";
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}
html {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    // overflow-x: hidden;
    background-color: $primary-color;
    font-family: "GT America Mono", sans-serif;
    color: $acccent-color;
    font-size: 14px;
    line-height: 20px;
    //by changing the text transform unique id li objects are no longer bound
    //by body and instead go to default
    text-transform: uppercase;
    text-decoration: none;
  }
  a {
    text-decoration: none;
    color: $acccent-color;
  }
  // p {
  //   display: flex;
  //   margin-bottom: 15px;
  // }

  //this is the entire nav-bar
  .navigation-bar {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    min-height: 50px; // Add this line to set the minimum height

    @media (max-width: 700px) {
      justify-content: center;

      .navigation-bar__link {
        display: none;
      }
    }

    &__link {
      @include border();
      margin-right: 10px;
      margin-left: 2px;
      padding: 5px 8px;
      font-family: "GT America Mono", sans-serif;
      color: #fcfaf3;
      line-height: 1;
      text-decoration: none;
      align-items: center;
      text-transform: uppercase;

      &.is--social {
        border-style: dashed;
        border-color: hsla(48, 0%, 100%, 0.5);
        color: hsla(48, 0%, 100%, 0.5);
      }
      &:hover {
        background-color: $btn-background;
        color: $acccent-color;
      }
    }
  }

  .navigation-bar__logo-flex {
    display: flex;
  }
  #birb-icon {
    @media (max-width: 700px) {
      min-width: 15vh;
      padding-top: 20%;
    }
  }
  .hamburger {
    @media (max-width: 700px) {
      display: none;
    }
  }
  .profile {
    @include transition(color, 300ms, ease-in-out);
    @include transition(background-color);
    @include border;

    display: inline-block;
    margin-right: 10px;
    margin-left: 2px;
    padding: 5px 8px;
    font-family: "GT America Mono", sans-serif;

    line-height: 1;
    text-decoration: none;
    align-items: center;
    text-transform: uppercase;

    border-color: wheat;
    color: wheat;

    span {
      pointer-events: none;
    }

    &__menu {
      position: absolute;
      top: 60px;
      right: 0;
      width: 250px;

      .info {
        .initials {
          position: initial;
          width: 40px;
          height: 40px;

          color: $acccent-color;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        }
      }
    }
    &:hover {
      cursor: pointer;
      background-color: $btn-background;
      color: $acccent-color;
    }
  }

  .work-heading {
    // overflow: hidden;
    // margin-top: 5%;
    margin-bottom: 0px;
    font-family: "Monument Grotesk", sans-serif;
    color: #fcfaf3;
    font-size: 7.4em;
    line-height: 0.9;
    text-transform: uppercase;

    // &:hover {
    //   opacity: 0.5;
    // }
  }

  .flex {
    display: flex;
  }
  .mobile-nav {
    flex-direction: column;
  }
  #last-name {
    margin-bottom: 20%;
  }

  #password {
    margin-bottom: 10%;
  }

  #login-register {
    margin-bottom: 10%;
  }

  .footer {
    bottom: 0;
    width: 100%;
    display: flex;
    margin-top: 2em;
    padding-top: 1.5em;
    padding-bottom: 1em;
    grid-auto-columns: 1fr;
    grid-column-gap: 3em;
    grid-row-gap: 0;
    grid-template-columns: auto 0.5fr 1fr 1fr;
    grid-template-rows: auto;
    border-top: 1px dashed $acccent-color;

    &__cycle-text {
      text-transform: uppercase;

      height: 100%;
      font-family: "Neue Montreal", sans-serif;
      color: #fcfaf3;
      font-size: 4em;
      line-height: 1.1;
      font-weight: weight(bold);
    }
  }

  .footer__link-wrap {
    margin-bottom: 1.25em;
  }

  .footer__caption {
    margin-bottom: 0.75rem;
    font-family: "GT America Mono", sans-serif;
    color: $acccent-color;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .arrow-button__text {
    display: block;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .arrow-button__text.is--contact {
    padding-top: 0.05em;
  }
  .arrow-button {
    @include transition(color, 300ms, ease-in-out);
    @include transition(background-color);
    display: inline-flex;
    position: relative;
    margin-right: 1rem;
    margin-left: 0px;
    padding: 0.325rem 3.7em 0.325rem 0.6rem;
    border-style: solid;
    border-width: 1px;
    border-color: #fcfaf3;
    border-radius: 999px;
    background-image: url("https://uploads-ssl.webflow.com/62d57921074baa1ce7275405/62fbefaddac62113f3304cb3_Arrow%20White.svg");
    background-position: 97% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: "GT America Mono", sans-serif;
    color: #fcfaf3;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background-color: $btn-background;
      color: $acccent-color;
      background-image: url("https://uploads-ssl.webflow.com/62d57921074baa1ce7275405/62fbefadc06b9876d3445adf_Arrow%20Black.svg");
    }
  }
  .arrow-button.is--footer-social {
    display: flex;
    margin-right: 0;
    margin-bottom: 6px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__main-link {
    display: block;
    margin-bottom: 0.5rem;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    font-family: "Monument Grotesk", sans-serif;
    color: $acccent-color;
    font-size: 3.5em;
    line-height: 1;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      opacity: 0.5;
    }
  }
  .form-wrap {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-self: center;
    margin: auto;
    width: 90%;
    align-items: center;
    // @include mobile;
  }
  .inputs {
    width: 100%;
    max-width: 350px;

    .input {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
      input {
        @include border;
        border: none;
        width: 100%;
        background-color: wheat;
        text-transform: none;
        padding: 4px 4px 4px 30px;
        height: 50px;
        outline: none;
        color: $acccent-color;
      }
    }
  }

  .router-link {
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    &:hover {
      opacity: 0.5;
    }
  }
  .forgot-password {
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    &:hover {
      opacity: 0.5;
    }
  }
  button {
    @include border;
    display: block;

    border: none;
    width: 100%;
    background-color: $primary-color;
    padding: 4px;
    height: 50px;
    background-color: wheat;

    color: $acccent-color;
    &:hover {
      outline: none;
      background-color: $acccent-color;
      color: $primary-color;
      cursor: pointer;
    }
  }
  .modal {
    justify-content: center;
    align-items: center;
    z-index: 101;
    position: center;
    width: 100%;
    height: 100%;
    top: 0%;
    background-color: $acccent-color;
    &__content {
      flex-direction: column;
      justify-self: center;
    }
  }
}

.container {
  position: relative;
}
@media only screen and (max-width: 700px) {
  .open-button {
    display: block;
  }
  .sidenav {
    display: block;
  }
}

@media only screen and (min-width: 700px) {
  .open-button {
    display: none;
  }
  .sidenav {
    display: none;
  }
}

.open-button {
  @include transition(color, 300ms, ease-in-out);
  @include transition($primary-color);
  font-weight: 900;
  height: 69px;
  position: fixed;
  bottom: 40px;
  margin: auto;
  padding: 10px 20px;
  background-color: wheat;
  color: $acccent-color;

  cursor: pointer;
}

.sidenav {
  position: fixed;
  bottom: 109px;
  left: 0;
  right: 0;
  margin: auto;

  height: 0;
  overflow: hidden;
  background-color: wheat;
  //the transform element makes it seem as though its floating up

  // transform: translateY(100%);

  transition: all 0.3s ease-out;
  border-radius: 20px;
}
.sidenav.is-open {
  height: auto;
  transform: translateY(0);
}
.sidenav-content {
  padding: 20px;
}

.sidenav-item {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-size: 3.5em;
  line-height: 1;
  font-weight: 900;
  display: block;
  margin-bottom: 15px;
  &:hover {
    opacity: 0.5;
  }
}
